body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-top: 2%;
}

.formContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25%;
}

form{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e7f3ff;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 1%;
}

form>label{
    width: 50%;
}

.campos{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.campos>input{
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    outline: none;
    padding: 1% 2%;
    border: 1px solid black;
    margin-right: 1%;
}

.campos>button{
    width: 30%;
    height: 4vh;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    outline: none;
    border: none;
    transition: 0.25s;

    &:hover{
        background-color: rgb(58, 58, 58);
        transition: 0.25s;
    }
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtrosContainer{
    width: 96%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 2%;

    select{
        width: 15%;
        border-radius: 5px;
    }

    svg{
        width: 3%;
        height: auto;
    }
}

.listaContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    border: 2px solid red;
    padding: 0.75%;
    border: 2px solid black;
    border-radius: 10px;
}

ul{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    filter: drop-shadow(2px 2px 2.5px black);
}

li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5%;
    margin: 0;
    line-height: 100%;
    background-color: #E5E5E5;
    border-top: 1px solid #000;

    &:first-child{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-top: none;
    }

    &:last-child{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.squad, .sprint, .historiaJira, .prompt{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 100%;
    gap: 5px;

    p{
        margin: 0;
    }
}