<h1>Crear Mediciones</h1>
<div class="p-3">
  <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
    <div class="fixed-header">
      <div class="row d-flex flex-row justify-content-around">
        <div class="col-4">
          <label for="proyecto" class="col-12">SQUAD</label>
          <input
            type="text"
            id="proyecto"
            class="col-12"
            mat-input
            [ngClass]="proyectoProcess"
            formControlName="proyecto"
            [placeholder]="returnPlaceholder('una squad *', 'las squads')"
            [matAutocomplete]="autoProyecto" />
          <mat-autocomplete
            #autoProyecto="matAutocomplete"
            (optionSelected)="onSelectionProyectoChange($event)"
            [displayWith]="displayTxt">
            <mat-option
              *ngFor="let proyecto of proyectosFiltered | async"
              [value]="proyecto"
              >{{ proyecto.nombre }}</mat-option
            >
          </mat-autocomplete>
          <mat-error
            class="error-required"
            *ngIf="callHandleError('proyecto', 'required', projectForm)"
            >{{ msgErrorRequired }}</mat-error
          >
        </div>
        <div class="col-4">
          <label for="sprint" class="col-12">SPRINT</label>
          <input
            type="text"
            id="sprint"
            class="col-12"
            mat-input
            [ngClass]="sprintProcess"
            formControlName="sprint"
            [placeholder]="returnPlaceholder('un sprint *', 'los sprints')"
            [matAutocomplete]="autoSprint" />
          <mat-autocomplete
            #autoSprint="matAutocomplete"
            (optionSelected)="onSelectionSprintsChange($event)"
            [displayWith]="displayTxt">
            <mat-option
              *ngFor="let sprint of sprintFiltered | async"
              [value]="sprint"
              >{{ sprint.nombre }}</mat-option
            >
          </mat-autocomplete>

          <mat-error
            class="error-required"
            *ngIf="callHandleError('sprint', 'required', projectForm)"
            >{{ msgErrorRequired }}</mat-error
          >
        </div>
        <div class="col-4">
          <label for="historiaJira" class="col-12">HISTORIA JIRA</label>
          <input
            type="text"
            id="historiaJira"
            class="col-12"
            mat-input
            [ngClass]="historiaJiraProcess"
            formControlName="historiaJira"
            [placeholder]="
              returnPlaceholder('un código de Jira *', 'los códigos de Jira')
            "
            [matAutocomplete]="autoHistoriaJira" />
          <mat-autocomplete
            #autoHistoriaJira="matAutocomplete"
            (optionSelected)="onSelectionHistoriaJiraChange($event)"
            [displayWith]="displayTxt">
            <mat-option
              *ngFor="let historiaJira of historiaJiraFiltered | async"
              [value]="historiaJira"
              >{{ historiaJira.descripcion }}</mat-option
            >
          </mat-autocomplete>

          <mat-error
            class="error-required"
            *ngIf="callHandleError('historiaJira', 'required', projectForm)"
            >{{ msgErrorRequired }}</mat-error
          >
        </div>
      </div>
      <div class="row mt-1">
        <div class="col-4">
          <label for="owner" class="col-12">EMAIL RESPONSABLE</label>
          <input
            id="owner"
            type="email"
            class="col-12"
            minlength="3"
            maxlength="254"
            formControlName="owner"
            placeholder="Email del responsable *" />
            <mat-error
              class="error-required"
              *ngIf="projectForm.get('owner')?.hasError('email') || callHandleError('owner', 'required', projectForm)">
              Por Favor, ingrese un email válido
            </mat-error>
        </div>
        <div class="col-8">
          <label for="notas" class="col-12">NOTAS</label>
          <input
            id="notas"
            type="text"
            class="col-12"
            formControlName="notas"
            maxlength="255"
            placeholder="Añade alguna nota (Opcional)" />
          <mat-error
            class="error-required"
            *ngIf="callHandleError('notas', 'invalidPattern', projectForm)"
            >{{ msgErrorPattern }}</mat-error
          >
        </div>
      </div>
    </div>

    <div id="components-container" formArrayName="componentes">
      <div
        *ngFor="let componente of componentes.controls; let i = index"
        [formGroupName]="i">
        <app-dynamic-content
          [dynamicForm]="getComponenteFormGroup(i)"
          (remove)="removeComponent(i)"
          [idProyecto]="idProyecto">
        </app-dynamic-content>
      </div>
    </div>

    <div class="action-buttons">
      <button
        id="add-component"
        class="add-component"
        type="button"
        (click)="addComponent()">
        <img src="assets/icons/addIcon.svg" alt="Añadir" title="Añadir"/>
      </button>

      <button id="save-button" class="save-button" type="submit">
        <img src="assets/icons/saveIcon.png" alt="Guardar" title="Guardar">
      </button>

      <button type="button" class="cleanButton" (click)="[resetForm(),addComponent()]">
        <img src="assets/icons/cleanIcon2.png" alt="Limpiar" title="Limpiar">
      </button>
    </div>
  </form>
</div>
