body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1#gestionTitle {
  color: white;
  text-shadow:
    -1px -1px 1px black,
    1px -1px 1px black,
    -1px 1px 1px black,
    1px 1px 1px black;
}

.fixed-header {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #007bff;
  border-radius: 5px;
  background: #e7f3ff;
}

.fixed-header label {
  font-weight: bold;
}
.fixed-header input[name='proyecto'] {
  max-width: 35ch;
}
.fixed-header input[name='sprint'] {
  max-width: 20ch;
}
.fixed-header input[name='historiaJira'] {
  max-width: 15ch;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.add-component {
  width: 50px;
  height: auto;
  background: #65bb3e;
  color: #fff;
  padding: 10px;
  border: 1px solid #28a745;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-component:hover {
  background: #218838;
}
.add-component svg {
  width: 32px;
  height: 32px;
}
.save-button {
  width: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #134886;
  color: #fff;
  padding: 10px;
  border: 1px solid #227ade;
  border-radius: 4px;
  cursor: pointer;
}
.save-button:hover {
  background: #0056b3;
}

.save-button img{
  width: 32px;
  height: 32px;
}

.cleanButton{
  width: 50px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(183, 1, 1);
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(247, 44, 44);

  &:hover{
    background-color: rgb(210, 1, 1);
  }

  img{
    width: 32px;
    height: 32px;
    padding: 5%;
  }
}
.app-dynamic-content .mat-form-field.mat-form-field-disabled {
  background-color: #333;
  color: #fff;
}