<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav>
    <div class="title">
        <h1>Adopción de IA</h1>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-dark" (click)="changeComponent('FixedHeaderComponent')">Crear Mediciones</button>
        <button type="button" class="btn btn-dark" (click)="changeComponent('ViewEstimacionComponent')">Ver/Editar Mediciones</button>
    </div>
    <!-- <ul>
        <li>
            <a [routerLink]="['/FixedHeaderComponent']" routerLinkActive="active" >Crear Mediciones</a>
        </li>
        <li>|</li>
        <li>
            <a href="">Ver/Editar Mediciones</a>
        </li>
    </ul> -->
</nav>