<div [formGroup]="dynamicForm" class="row">
    <label for="tarea">Tarea</label>
    <select id="tarea" formControlName="tarea">
      <option value="prompt_hu">Prompt HU</option>
      <option value="documentar">Documentar</option>
      <option value="refactorizar">Refactorizar</option>
      <option value="test_unitarios">Test Unitarios</option>
    </select>
  
    <label for="aplicaIa">Aplica IA?</label>
    <select id="aplicaIa" formControlName="aplicaIa">
      <option value="yes">Sí</option>
      <option value="no">No</option>
    </select>
  
    <label for="usadaIa">Usada IA?</label>
    <select id="usadaIa" formControlName="usadaIa">
      <option value="yes">Sí</option>
      <option value="no">No</option>
    </select>
  
    <label for="calidadSalidaIa">Calidad Salida IA</label>
    <input id="calidadSalidaIa" type="text" formControlName="calidadSalidaIa" placeholder="Calidad de salida de la IA">
  
    <label for="estimacionSinIa">Estimación sin IA</label>
    <input id="estimacionSinIa" type="number" formControlName="estimacionSinIa" placeholder="Días sin IA">
  
    <label for="estimacionConIa">Estimación con IA</label>
    <input id="estimacionConIa" type="number" formControlName="estimacionConIa" placeholder="Días con IA">
  
    <button type="button" class="remove-component" (click)="removeComponent()">Eliminar</button>
  </div>
  